In [32]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql import SparkSession

In [33]:
spark = ( 
 SparkSession
 .builder
 .master("local[*]")
 .appName('teste')
 .getOrCreate()
)

In [27]:
data = [ 
 ("James","","Smith","36636","M",3000),
 ("Michael","Rose","","40288","M",4000),
 ("Robert","","Williams","42114","M",4000),
 ("Maria","Anne","Jones","39192","F",4000),
 ("Jen","Mary","Brown","","F",-1) 
]

In [28]:
schema = (
    StructType([
        StructField("firstname", StringType(), True),
        StructField("middlename", StringType(), True),
        StructField("lastname", StringType(), True),
        StructField("id", StringType(), True),
        StructField("gender", StringType(), True),
        StructField("salary", IntegerType(), True)
    ])
)

In [29]:
df = spark.createDataFrame(data=data,schema=schema)

In [30]:
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [31]:
df.show(truncate=False ESTÁ COM ERRO VERIFICAR DEPOIS

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1411950569.py, line 1)